body {
  margin: 0;
  font-family: sans-serif;
  background: url('../images/foody-bg.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

form {
  display: flex;
  flex-direction: column;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #d35400;
}

input, select, button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #e67e22;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #d35400;
}
.already {
  text-align: center;
  font-size: 14px;
}

.already a {
  color: #2980b9;
  text-decoration: none;
  font-weight: bold;
}

.already a:hover {
  text-decoration: underline;
}
